# IMPORTING LIBRARIES

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.preprocessing import LabelEncoder
import warnings 
warnings.filterwarnings('ignore')
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB

# READING THE DATASET

In [2]:
df=pd.read_csv('indian_liver_patient.csv')

In [3]:
df.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1

In [4]:
df.shape

(583, 11)

In [5]:
df.info()#checking data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         583 non-null    int64
 1   Gender                      583 non-null    object
 2   Total_Bilirubin             583 non-null    float64
 3   Direct_Bilirubin            583 non-null    float64
 4   Alkaline_Phosphotase        583 non-null    int64
 5   Alamine_Aminotransferase    583 non-null    int64
 6   Aspartate_Aminotransferase  583 non-null    int64
 7   Total_Protiens              583 non-null    float64
 8   Albumin                     583 non-null    float64
 9   Albumin_and_Globulin_Ratio  579 non-null    float64
 10  Dataset                     583 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB

In [6]:
df.describe()#statistical information

,Age,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
count,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,579.000000,583.000000
mean,44.746141,3.298799,1.486106,290.576329,80.713551,109.910806,6.483190,3.141852,0.947064,1.286449
std,16.189833,6.209522,2.808498,242.937989,182.620356,288.918529,1.085451,0.795519,0.319592,0.452490
min,4.000000,0.400000,0.100000,63.000000,10.000000,10.000000,2.700000,0.900000,0.300000,1.000000
25%,33.000000,0.800000,0.200000,175.500000,23.000000,25.000000,5.800000,2.600000,0.700000,1.000000
50%,45.000000,1.000000,0.300000,208.000000,35.000000,42.000000,6.600000,3.100000,0.930000,1.000000
75%,58.000000,2.600000,1.300000,298.000000,60.500000,87.000000,7.200000,3.800000,1.100000,2.000000
max,90.000000,75.000000,19.700000,2110.000000,2000.000000,4929.000000,9.600000,5.500000,2.800000,2.000000

In [7]:
df.columns

Index(['Age', 'Gender', 'Total_Bilirubin', 'Direct_Bilirubin',
       'Alkaline_Phosphotase', 'Alamine_Aminotransferase',
       'Aspartate_Aminotransferase', 'Total_Protiens', 'Albumin',
       'Albumin_and_Globulin_Ratio', 'Dataset'],
      dtype='object')

In [8]:
df['Total_Bilirubin'].skew

<bound method NDFrame._add_numeric_operations.<locals>.skew of 0       0.7
1      10.9
2       7.3
3       1.0
4       3.9
       ...
578     0.5
579     0.6
580     0.8
581     1.3
582     1.0
Name: Total_Bilirubin, Length: 583, dtype: float64>

In [9]:
df['Direct_Bilirubin'].skew

<bound method NDFrame._add_numeric_operations.<locals>.skew of 0      0.1
1      5.5
2      4.1
3      0.4
4      2.0
      ...
578    0.1
579    0.1
580    0.2
581    0.5
582    0.3
Name: Direct_Bilirubin, Length: 583, dtype: float64>

In [10]:
df['Alkaline_Phosphotase'].skew

<bound method NDFrame._add_numeric_operations.<locals>.skew of 0      187
1      699
2      490
3      182
4      195
      ...
578    500
579     98
580    245
581    184
582    216
Name: Alkaline_Phosphotase, Length: 583, dtype: int64>

In [11]:
df['Alamine_Aminotransferase'].skew

<bound method NDFrame._add_numeric_operations.<locals>.skew of 0      16
1      64
2      60
3      14
4      27
       ..
578    20
579    35
580    48
581    29
582    21
Name: Alamine_Aminotransferase, Length: 583, dtype: int64>

In [12]:
df['Aspartate_Aminotransferase'].skew

<bound method NDFrame._add_numeric_operations.<locals>.skew of 0       18
1      100
2       68
3       20
4       59
      ...
578     34
579     31
580     49
581     32
582     24
Name: Aspartate_Aminotransferase, Length: 583, dtype: int64>

In [13]:
df['Total_Protiens'].skew

<bound method NDFrame._add_numeric_operations.<locals>.skew of 0      6.8
1      7.5
2      7.0
3      6.8
4      7.3
      ...
578    5.9
579    6.0
580    6.4
581    6.8
582    7.3
Name: Total_Protiens, Length: 583, dtype: float64>

In [14]:
df['Albumin'].skew

<bound method NDFrame._add_numeric_operations.<locals>.skew of 0      3.3
1      3.2
2      3.3
3      3.4
4      2.4
      ...
578    1.6
579    3.2
580    3.2
581    3.4
582    4.4
Name: Albumin, Length: 583, dtype: float64>

In [15]:
df['Albumin_and_Globulin_Ratio'].skew

<bound method NDFrame._add_numeric_operations.<locals>.skew of 0      0.90
1      0.74
2      0.89
3      1.00
4      0.40
       ...
578    0.37
579    1.10
580    1.00
581    1.00
582    1.50
Name: Albumin_and_Globulin_Ratio, Length: 583, dtype: float64>

# VALUE COUNTS

In [16]:
#categorical columns

In [17]:
df['Gender'].value_counts()

Male      441
Female    142
Name: Gender, dtype: int64

In [18]:
df['Dataset'].value_counts()

1    416
2    167
Name: Dataset, dtype: int64